/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  Y  |  C  |  L  |  M  |  K  |           |  Z  |  F   |  U  |  X  |  '  |
// |  I  |  S  |  R  | T&S |  G  |           |  P  |  N&S |  E  |  A  |  O  |  
// |  Q  |  V  |  W  |  D  |  J  |           |  B  |  H   |LT2&,|  .  |  /  | 
//   | DEL |SPACE&LT1|BSPC&option|           | RET&META | ESC&LT1  |  |
                        bindings = <
   &trans &kp Y &kp C  &kp L &kp M &kp K          &kp Z &kp F &kp U &kp X &kp SQT &trans 
   &trans &kp I &kp S  &kp R &kp T &kp G          &kp P &kp N &kp E &kp A &kp O &trans 
   &trans &kp Q &kp V  &kp W &kp D &kp J          &kp B &kp H &lt 1 COMMA &lt 2 DOT &kp FSLH  &trans    
          &kp DEL &mt LSHFT SPACE &mt LALT BSPC      &mt RMETA  RET &mt RSHIFT ESC &kp CAPS 
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  Y  |  C  |  L  |  M  |  K  |           |  Z  |  F   |  U  |  X  |  '  |
// |  I  |  S  |  R  | T&S |  G  |           |  P  |  N&S |  E  |  A  |  O  |  
// |  Q  |  V  |  W  |  D  |  J  |           |  B  |  H   |LT2&,|  .  |  /  | 
//   | DEL |SPACE&LT1|BSPC&option|           | RET&META | ESC&LT1  |  |
                        bindings = <
   &trans &trans &kp N9  &kp N8 &kp N7 &trans         &trans  &trans  &trans  &trans  &trans  &trans 
   &trans &kp TAB &kp N4  &kp N5 &kp N6 &trans        &trans  &trans  &trans  &trans  &trans  &trans  
   &trans &trans &kp N3  &kp N2 &kp N1 &trans         &trans  &trans  &trans  &trans  &trans  &trans    
   &trans &trans &kp N0  &trans                     &trans  &trans  &trans  
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans &trans &trans  &trans &kp LBRC &kp RBRC            &trans  &trans  &trans  &trans  &trans  &trans    
   &trans &kp SEMI &kp MINUS &kp EQUAL &kp LPAR &kp RPAR     &trans  &trans  &trans  &trans  &trans  &trans  
   &trans &trans &kp GRAVE  &kp BSLH &kp LBKT &kp RBKT       &trans  &trans  &trans  &trans  &trans  &trans     
   &trans &trans &trans                                      &trans  &trans  &trans  
                        >;
                };
        };
};